﻿<div id="formChangeState" name="formChangeState" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>CAMBIAR ESTADO DEL TR&Aacute;MITE #{{vm.id}}</span>  <br />
            <small>{{vm.flow | uppercase}}</small>
        </h4>
    </div>

    <div class="modal-body">
        <div class="row text-center">
            <div class="col-sm-12 text-center m-b-20 p-l-20 p-r-20"
                 style="background-color:#eee;">
                <p class="text-center p-t-10">
                    Usted está por cambiar el estado de éste trámite, <br />
                    por favor ingese un motivo de cambio.
                </p>
            </div>
            <div class="col-sm-12 form-group form-float text-left">
                <div class="form-line">
                    <textarea class="form-control"
                              name="observation"
                              rows="3"
                              placeholder="Escriba una observación"
                              ng-model="vm.observation"
                              ng-minlength="5"
                              style="background: rgb(238, 238, 238);padding: 10px;"></textarea>
                </div>
            </div>
            <div class="col-sm-12">
                @* -- Notify -- *@
                <div class="form-group form-float" style="margin-bottom: 0px;">
                    <div class="">
                        <input id="notify" type="checkbox" 
                               name="notify" 
                               ng-model="vm.notify" 
                               checked 
                               class="form-control chk-col-pink" 
                               ng-disabled="vm.revisionRequest"/>
                        <label for="notify" class="form-label">¿Notificar CAMBIO al titular?</label>
                    </div>
                </div>
                
                @* -- Send Revisión -- *@
                <div class="form-group form-float" ng-if="vm.stateTo == 2">
                    <div class="">
                        <input id="revisionRequest" type="checkbox" name="revisionRequest" 
                               ng-model="vm.revisionRequest" 
                               checked 
                               class="form-control chk-col-pink" 
                               ng-disabled="vm.notify"/>
                        <label for="revisionRequest" class="form-label">¿Pedir REVISI&Oacute;N al titular?</label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> Cancelar
            </button>
            <button type="submit"
                    class="btn btn-primary waves-effect"
                    ng-click="vm.save()">
                <i class="material-icons">exit_to_app</i> Cambiar
            </button>
        </div>
    </div>

</div>
