﻿<div id="formChangeState" name="formChangeState" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>Adjuntar Archivos Tr&aacute;mite #{{vm.id}}</span>
        </h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 text-center breadcrumb info-fileattach" >
                Aqu&iacute; se muestran los archivos adjuntos privados de uso de los administradores del tr&aacute;mite, estos archivos no son publicos para el propietario del tr&aacute;mite 
            </div>
        </div>
        @*-- Lista de Archivos Adjuntos --*@
        <div class="row" ng-show="vm.files.length > 0">
            <div class="col-md-12" style="padding-left: 40px;padding-right: 40px;">
                <label style="padding-left: 15px;">Archivos Adjunto</label>
                <div class="list-group">
                    <div class="list-group">
                        <div class="a-prevent list-group-item" ng-repeat="file in vm.files">
                            <a class="a-prevent label label-danger" ng-click="vm.deleteFile(file)" title="Eliminar"><i class="fa fa-close"></i></a>
                            <a class="a-prevent label label-warning" ng-click="vm.openFile(file)" title="Abrir"><i class="fa fa-file-o"></i></a>
                            {{file.fileName}} | {{file.sizeTranslated}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer text-center">
        <div class="row text-center">
            <div class="col-md-6 col-xs-12 text-center">
                <div class="btn btn-primary" ngf-pattern="'.pdf,.doc,.docx,ppt,pptx,.mp3,.zip,.rar,.xls,.xlsx,.mp4,.jpg,.png'" ngf-select ng-model="vm.file" input-disabled="vm.editableInput">
                    <i class="fa fa-clipboard"></i>
                    <span ng-show="vm.finish">Examinar</span>
                    <span ng-show="!vm.finish" class="ng-binding">Cargando {{vm.progress}} % ...</span>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 text-center">
                <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                    <i class="material-icons">cancel</i> Cancelar
                </button>
                <button type="submit"
                        class="btn btn-primary waves-effect"
                        ng-click="vm.save()">
                    <i class="material-icons">save</i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>
