﻿<div class="row clearfix" ng-controller="admin.views.transact.index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header row">
                <div class="col-xs-12">
                    <h2 class="title-custom">
                        Tr&aacute;mites
                    </h2>
                </div>
                <div class="col-xs-10">
                    <div class="input-group form-float">
                        <div class="form-line">
                            <input type="text" ng-model="vm.filters.search"
                                   ng-model-options="{debounce: 500 }"
                                   placeholder="Buscar por " class="form-control">

                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button type="button"
                            class="btn btn-default btn-circle waves-effect waves-circle waves-float pull-right"
                            ng-click="vm.filterAvan()">
                        <i class="material-icons" ng-class="{'fa-rotate-180':vm.showFilter}">keyboard_arrow_down</i>
                    </button>
                </div>

                <div class="col-xs-12 animate-show-hide"
                     ng-show="vm.showFilter"
                     style="padding-top: 15px;">

                    @* -- TIPOS TRAMITE-- *@
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <div class="form-group form-float text-left">
                            <label>Tramite</label>
                            <div class="form-line">
                                <select class="form-control"
                                        ng-model="vm.filters.typeTransact"
                                        ng-options="col.id as col.description for col in vm.transactTypeList">
                                    <option value="" selected hidden>Seleccione un tipo de tramite</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    @* -- ESTADOS TRAMITE-- *@
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <div class="form-group form-float text-left">
                            <label>Por Estado</label>
                            <div class="form-line">
                                <select class="form-control"
                                        ng-model="vm.filters.state"
                                        ng-options="col.Id as col.Text for col in vm.states">
                                    <option value="" selected hidden>Seleccione un estado</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    @* -- Ordenamiento ASC | DESC-- *@
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <div class="form-group form-float text-left">
                            <label>Ordenar por</label>
                            <div class="form-line">
                                <select class="form-control"
                                        ng-model="vm.filters.order"
                                        ng-options="col.Id as col.Text for col in vm.orderAscDesc">
                                    <option value="" selected hidden>Seleccione un orden</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    @* -- Fecha Desde.-- *@
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <p class="c-black f-500 m-b-20">Fecha Desde</p>
                        <div class="input-group">
                            <div class="input-group" style="margin-top: -10px; border-bottom:solid 2px #1f91f3 !important;"
                                 datetimepicker-options="{{vm.options}}"
                                 datetimepicker>
                                <input type="text" id="dtStart" class="form-control">
                            </div>
                        </div>
                    </div>

                    @* -- Fecha Hasta.-- *@
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                        <p class="c-black f-500 m-b-20">Fecha Hasta</p>
                        <div class="input-group" style="margin-top: -10px; border-bottom:solid 2px #1f91f3 !important;"
                             datetimepicker-options="{{vm.options}}"
                             datetimepicker>
                            <div class="dtp-container fg-line">
                                <input type="text" id="dtEnd" class="form-control">
                            </div>
                        </div>
                    </div>

                    @* -- Cant. Reg.-- *@
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
                        <div class="form-group form-float text-left">
                            <label>Mostrar</label>
                            <div class="form-line">
                                <select class="form-control"
                                        ng-model="vm.filters.pageSize"
                                        ng-options="col as col for col in vm.pageSizes"></select>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="body">
                <div class="">
                    <!-- ******************************************************** -->
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                                <th class="hidden-xs">REG.</th>
                                <th>TRAMITE</th>
                                <th class="hidden-xs">AREA</th>
                                <th class="hidden-xs">ESTADO</th>
                                <th class="hidden-xs">PROPIETARIO</th>
                                <th class="hidden-xs">PROGRESO</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in vm.dataContext.data track by $index" ng-class="{'other-area':data.lockedAreaId != null}">
                                <td ui-sref="transacts.detail({paramId:data.id})" class="cursor hidden-xs">#{{data.id}}</td>
                                <td ui-sref="transacts.detail({paramId:data.id})" class="cursor">
                                    <strong><span class="visible-xs">#{{data.id}} </span>{{data.transactTypeName | uppercase}}</strong>
                                    <small class="visible-xs">&Aacute;rea: {{data.areaName | uppercase}}</small>
                                    <small class="visible-xs">Estado: {{data.stateFormat | uppercase}}</small>
                                    <small class="visible-xs">Propietario: {{data.fullName | uppercase}}</small>
                                    <small class="visible-xs">
                                        <div class="progress" title="Progreso {{data.percent}}%">
                                            <div class="progress-bar {{data.stateColor}}"
                                                 role="progressbar"
                                                 aria-valuenow="62"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100" style="width: {{data.percent}}%"></div>
                                        </div>
                                    </small>
                                </td>
                                <td ui-sref="transacts.detail({paramId:data.id})" class="cursor hidden-xs">{{data.areaName | uppercase}}</td>
                                <td ui-sref="transacts.detail({paramId:data.id})" class="cursor hidden-xs">
                                    <span class="label {{data.stateColor}}">{{data.stateFormat | uppercase}}</span>
                                </td>
                                <td ui-sref="transacts.detail({paramId:data.id})" class="cursor hidden-xs">{{data.fullName}}</td>
                                <td ui-sref="transacts.detail({paramId:data.id})" class="cursor">
                                    <div class="progress" title="Progreso {{data.percent}}%">
                                        <div class="progress-bar {{data.stateColor}}"
                                             role="progressbar"
                                             aria-valuenow="62"
                                             aria-valuemin="0"
                                             aria-valuemax="100" style="width: {{data.percent}}%"></div>
                                    </div>
                                </td>
                                <td class="dropdown text-center">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        @* -- Acciones con estados -- *@
                                        <li ng-repeat="state in data.statesList">
                                            <a href="javascript:void(0);" class="waves-effect waves-block"
                                               ng-click="vm.changeStateModal(data.id,data.state,state.id,state.description)">
                                                <i ng-if="state.description === 'Devolver'" class="material-icons">undo</i>
                                                <i ng-if="state.description !== 'Devolver'" class="material-icons">directions</i>
                                                {{state.description}}
                                            </a>
                                        </li>
                                        @* -- Mover Area -- *@
                                        <li ng-if="data.lockedAreaId == null">
                                            <a href="javascript:void(0);" class="waves-effect waves-block"
                                               ng-click="vm.moveAreaModal(data.id)">
                                                <i class="material-icons">call_split</i>Mover de Área
                                            </a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        @* -- Adjuntar Archivos -- *@
                                        <li>
                                            <a href="javascript:void(0);"
                                               class="waves-effect waves-block"
                                               ng-click="vm.attachModal(data.id)">
                                                <i class="material-icons">attach_file</i>Adjuntar Archivo
                                            </a>
                                        </li>
                                        @* - Borrar si es Admin -- *@
                                        <li ng-if="vm.isAdmin">
                                            <a href="javascript:void(0);"
                                               class="waves-effect waves-block"
                                               ng-click="vm.delete(data.id)">
                                                <i class="material-icons">delete_sweep</i>Borrar
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="vm.dataContext.data.length == 0">
                                <td colspan="8" class="text-center">
                                    <i class="material-icons">info</i>
                                    <br /> No hay tr&aacute;mites para mostrar
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- ******************************************************** -->

                </div>

                <div class="row text-center m-t-10" ng-if="vm.dataContext.data.length > 0">
                    <span>Cantidad total: {{vm.dataContext.metaData.totalItemCount}}</span>
                </div>

                <div class="row text-center" ng-if="vm.dataContext.data.pageCount > 0">
                    <ul uib-pagination
                        total-items="vm.dataContext.metaData.totalItemCount"
                        ng-model="vm.filters.page"
                        max-size="4"
                        previous-text="Atras"
                        next-text="Siguiente"
                        ng-change="vm.pageChanged()"></ul>
                </div>

                <button type="button" data-toggle="modal" class="btn bg-pink btn-circle waves-effect waves-circle waves-float pull-right" ng-click="vm.openModal()">
                    <i class="material-icons">add</i>
                </button>
            </div>


        </div>
    </div>

    <div ui-view="detail" class="view-animation-modal"></div>
</div>