﻿<div id="formChangeState" name="formChangeState" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>Cambiar de &Aacute;rea Tr&aacute;mite #{{vm.id}}</span>  <br />
            <small></small>
        </h4>
    </div>

    <div class="modal-body">
        <div class="row text-center">
            @* -- Areas -- *@
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group form-float text-left">
                    <label>&Aacute;reas</label>
                    <div class="form-line">
                        <select class="form-control"
                                ng-model="vm.areaId"
                                ng-options="s.id as s.description for s in vm.areas">
                            <option value="" selected hidden>Seleccione un &aacute;rea</option>
                        </select>
                    </div>
                </div>
            </div>
            @* -- Observation -- *@
            <div class="col-sm-12 form-group form-float text-left">
                <div class="form-line">
                    <textarea class="form-control"
                              name="observation"
                              rows="3"
                              placeholder="Escriba una observación"
                              ng-model="vm.observation"
                              ng-minlength="5"
                              style="background: rgb(238, 238, 238);padding: 10px;"></textarea>
                </div>
            </div>
            @* -- Notify -- *@
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="">
                        <input id="notify" type="checkbox" name="notify" ng-model="vm.notify" checked class="form-control" />
                        <label for="notify" class="form-label">Notificar cambio al titular?</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> Cancelar
            </button>
            <button type="submit"
                    class="btn btn-primary waves-effect"
                    ng-click="vm.save()">
                <i class="material-icons">exit_to_app</i> Cambiar
            </button>
        </div>
    </div>

</div>
