﻿<style>
    .spinner > div {
        background-color: #FF9800 !important;
    }
</style>
<div class="modal-body text-center">
    <div class="row">
        <br />
        {{vm.status}}
        <br />
        <div id="spinner2" class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <br />
        <strong>
            TRAMITE REG. #{{vm.print.reg}}<br />
            {{vm.print.transactionName}}
        </strong>
        <br />
    </div>
</div>
