﻿@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@using Personeria
@using Personeria.Web.Helpers
@{
    Layout = null;
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="es">
<head>
    @Html.Partial("_Meta")

    <title>Personeria | GOBIERNO DE SAN LUIS</title>
    <base href="/" />

    @Styles.Render("~/app/vendorcss")
    @Styles.Render("~/app/maincss")

    <script type="text/javascript">
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
        @if (Html.IsDebug())
        {
            <text>var isDebug = true;</text>
        }
    </script>

    @Html.Partial("_ServiceWorker")
</head>
<body class="theme-pink" ng-app="app">
    @Html.Partial("_Loading")
    <div class="overlay"></div>


    <div ng-controller="app.views.layout as vm" ng-cloak>

        <nav class="navbar background-official">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand"
                       ng-href="/">
                        <img src="/images/logo-personeria-blanco.png?width=200"
                             style="padding-top: 0;margin-top: -16px;" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <img src="/images/logo-gobierno_ministerio_blanco.png?width=300"
                                 style="padding-top: 14px;" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @* -- Render Body -- *@
        <section class="container p-t-20">
            <div ui-view class="view-animation"></div>
        </section>

        <section ui-view="modal" class="view-animation-modal"></section>

        <div class="legal align-center p-b-20">
            <img src="/images/logo-gobierno_Mesa-de-trabajo.png" class="img-responsive center-block" />
            <div class="copyright">                
                <a class="btn-link" href="/">Personer&iacute;a</a> &copy; 2018 | @('v')@AppVersionHelper.ReleaseDate.ToString("yyyyMMddHHmm")
            </div>
        </div>
    </div>

    @Html.Partial("_Scripts")
</body>
</html>