﻿<div class="row clearfix" ng-controller="admin.views.config as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    CONFIGURACIONES
                </h2>
            </div>
            <div class="body">
                <div class="row photos">
                    <div class="col-sm-12">
                        <strong>Imagenes de Portada</strong>
                    </div>
                    <div class="col-sm-12">

                        <div class="col-sm-4 photo-config photo-{{file.id}}"
                             ng-repeat="file in vm.files track by file.id">
                            <div class="col-sm-3 text-center">
                                <img ng-src="{{file.path}}?width=100" alt="{{file.title}}" class="img-thumbnail" />
                                <br /><a href="{{file.path}}" class="btn btn-link" target="_blank">Ver foto</a>
                            </div>
                            <div class="col-sm-9 text-center">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="title-{{file.id}}"
                                               type="text"
                                               name="title-{{file.id}}"
                                               ng-model="file.title"
                                               enter-key="vm.save(file)"
                                               autocomplete="off" minlength="2" class="validate form-control">
                                        <label for="title-{{file.id}}" class="form-label">T&iacute;tulo</label>
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="url-{{file.id}}"
                                               type="url"
                                               name="url-{{file.id}}"
                                               ng-model="file.link"
                                               enter-key="vm.save(file)"
                                               autocomplete="off" minlength="2" class="validate form-control">
                                        <label for="url-{{file.id}}" class="form-label">V&iacute;nculo</label>
                                    </div>
                                </div>
                                <button type="button"
                                        class="btn btn-danger waves-effect btn-xs"
                                        ng-click="vm.delete(file)">
                                    <i class="material-icons">close</i> Eliminar
                                </button>

                                <button type="button"
                                        class="btn btn-warning waves-effect btn-xs"
                                        ng-click="vm.save(file)">
                                    <i class="material-icons">save</i> Guardar
                                </button>

                            </div>
                            <div class="col-sm-12"><hr /></div>
                        </div>
                        <div class="col-sm-4 add-photo text-center p-t-30 p-b-30">
                            <div ng-show="vm.finish"
                                 id="btn-add-photo"
                                 class="btn btn-info waves-effect"
                                 ngf-pattern="'.jpg,.png'"
                                 ngf-select="vm.upload($file)"
                                 ng-model="vm.file">
                                <i class="material-icons">photo</i>
                                <br />
                                <span ng-show="vm.finish">Agregar foto</span>
                                <span ng-show="!vm.finish"> {{vm.progress}} Cargando</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <strong>Impresoras Ticketeras</strong>
                        <br />
                        <form name="formPrint" id="formPrint" ng-submit="vm.addOrUpdatePrint()">
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="print-name"
                                               name="print-name"
                                               type="text"
                                               ng-model="vm.print.name"
                                               autocomplete="off"
                                               minlength="2"
                                               class="form-control"
                                               ng-required="true"
                                               placeholder="Ingrese el nombre de la PC">
                                    </div>
                                </div>

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="print-ip"
                                               name="print-ip"
                                               type="text"
                                               ng-model="vm.print.ip"
                                               autocomplete="off"
                                               minlength="2"
                                               class="form-control"
                                               placeholder="IP: 0.0.0.0"
                                               ng-required="true"
                                               ng-pattern='/^([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})$/'>
                                    </div>
                                </div>
                                <button type="button"
                                        class="btn waves-effect waves-circle waves-float pull-right"
                                        ng-if="vm.print.name != null"
                                        ng-click="vm.deSelectPrint()">
                                    <i class="material-icons">close</i>
                                </button>
                                <button type="submit"
                                        class="btn bg-pink btn-circle waves-effect waves-circle waves-float pull-right"
                                        ng-disabled="!formPrint.$valid">
                                    <i class="material-icons">add</i>
                                </button>
                                <small class="right">Puede agregar o editar impresora desde aqu&iacute;</small>
                            </div>
                        </form>

                    </div>

                    <div class="col-md-6">
                        <ul class="prints">
                            <li class="list-group-item list-group-item-info">
                                Impresoras configuradas
                            </li>
                            <li class="list-group-item" ng-repeat="print in vm.prints track by $index">
                                <button type="button"
                                        class="btn btn-xs btn-danger btn-circle waves-effect waves-float pull-right"
                                        ng-click="vm.deletePrint(print.id)">
                                    <i class="material-icons">close</i>
                                </button>
                                <button type="button"
                                        class="btn btn-xs btn-warning btn-circle waves-effect waves-float pull-right"
                                        ng-click="vm.selectPrint(print)">
                                    <i class="material-icons">edit</i>
                                </button>
                                <strong>Impresora: {{print.name}} ({{print.ip}})</strong><br />
                                <small>Personas que la usan: {{print.usersCount}}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>