﻿<form id="frm_edit_user" name="editUser" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>Editar Usuario</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="Detalle">
                <div class="row clearfix" style="margin-top: 10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float text-left">
                            <label>&Aacute;reas</label>
                            <div class="form-line">
                                <select class="form-control" chosen multiple
                                        ng-model="vm.user.areaIds"
                                        ng-options="s.id as s.description for s in vm.areaList"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="username" type="text" name="UserName" autocomplete="off" ng-model="vm.user.userName" required maxlength="32" minlength="2" class="validate form-control">
                                <label for="username" class="form-label">@L("UserName")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="name" type="text" name="Name" autocomplete="off" ng-model="vm.user.name" required maxlength="32" class="validate form-control">
                                <label for="name" class="form-label">@L("Name")</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="surname" type="text" name="Surname" autocomplete="off" ng-model="vm.user.surname" required maxlength="32" class="validate form-control">
                                <label for="surname" class="form-label">@L("Surname")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="email" type="email" name="EmailAddress" autocomplete="off" ng-model="vm.user.emailAddress" maxlength="256" class="validate form-control">
                                <label for="email" class="form-label">@L("EmailAddress")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="">
                                <input id="isactive" type="checkbox" name="IsActive" autocomplete="off" ng-model="vm.user.isActive" checked class="form-control" />
                                <label for="isactive" class="form-label">@L("IsActive")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Roles">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="col-sm-6" ng-repeat="role in vm.roles">
                            <input type="checkbox" name="role" value="{{role.normalizedName}}" title="{{role.description}}" class="filled-in chk-col-pink" id="role-{{role.id}}" ng-model="role.isAssigned" />
                            <label for="role-{{role.id}}" title="{{role.displayName}}">{{role.name}}</label>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> Cancelar
            </button>
            <button type="submit"
                    class="btn btn-primary waves-effect"
                    ng-click="vm.save()"
                    ng-disabled="!editUser.$valid">
                <i class="material-icons">save</i> Guardar
            </button>
        </div>
    </div>
</form>