﻿<div class="row clearfix" ng-controller="admin.views.users.index as vm">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2 class="title-custom">
                    Usuarios
                </h2>
                <div class="input-group form-float">
                    <div class="form-line">
                        <input type="text" ng-model="vm.filters.search"
                               ng-model-options="{debounce: 500 }"
                               placeholder="Buscar por apellido,nombre,correo o sector."
                               class="form-control">
                    </div>                   
                </div>
            </div>

            <div class="body">
                
                <div class="">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="hidden-xs">@L("UserName")</th>
                                <th>@L("FullName")</th>
                                <th class="hidden-xs">@L("EmailAddress")</th>
                                <th>
                                    <div style="text-align:center">@L("IsActive")</div>
                                </th>
                                <th class="text-center">@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in vm.users.data">
                                <td class="hidden-xs">{{user.userName}}</td>
                                <td>{{user.fullName}}</td>
                                <td class="hidden-xs">{{user.emailAddress}}</td>
                                <td align="center">
                                    <i class="material-icons" ng-if="user.isActive" style="color:green;">check_box</i>
                                    <i class="material-icons" ng-if="!user.isActive" style="color:red;">indeterminate_check_box</i>
                                </td>
                                <td class="dropdown text-center">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.openUserEditModal(user)"><i class="material-icons">create</i>@L("Edit")</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.delete(user)"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="vm.users.data.length == 0">
                                <td colspan="8" class="text-center">
                                    <i class="material-icons">info</i> No hay datos para mostrar
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="row text-center m-t-10" ng-if="vm.users.data.length > 0">
                        <span>Cantidad total: {{vm.users.metaData.totalItemCount}}</span>
                    </div>
                </div>


                <div class="row text-center" ng-if="vm.users.data.length > 0">
                    <ul uib-pagination
                        total-items="vm.users.metaData.totalItemCount"
                        ng-model="vm.filters.page"
                        max-size="4"
                        previous-text="Atras"
                        next-text="Siguiente"
                        ng-change="vm.pageChanged()"></ul>
                </div>

                <button type="button" data-toggle="modal" class="btn bg-pink btn-circle waves-effect waves-circle waves-float pull-right" ng-click="vm.openUserCreationModal()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>