﻿
/*
 * Page Loader
 */

html:not(.ismobile) .page-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;    
    text-align: center;
}

    html:not(.ismobile) .page-loader .preloaderinit {
        position: relative;
        left: 0;
        top: 0;
        width: 200px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

html.ismobile .page-loader {
    display: none;
}

.pre-loader-logo {
    position: relative;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}



.preloaderinit {
    position: relative;
    margin: auto;
    display: inline-block;
}

    .preloaderinit:not([class*="pl-"]) {
        width: 40px;
    }

    .preloaderinit:before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .preloaderinit.pl-xs {
        width: 20px;
    }

    .preloaderinit.pl-sm {
        width: 30px;
    }

    .preloaderinit.pl-lg {
        width: 50px;
    }

    .preloaderinit.pl-xl {
        width: 80px;
    }

    .preloaderinit.pl-xxl {
        width: 100px;
    }

    .preloaderinit:not([class*="pls-"]) .plc-path {
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    }

    .preloaderinit[class*="pls-"] .plc-path {
        animation: dash 1.5s ease-in-out infinite;
    }

    .preloaderinit.pls-red .plc-path {
        stroke: #fff;
    }

    .preloaderinit.pls-blue .plc-path {
        stroke: #2196f3;
    }

    .preloaderinit.pls-green .plc-path {
        stroke: #4caf50;
    }

    .preloaderinit.pls-yellow .plc-path {
        stroke: #ffeb3b;
    }

    .preloaderinit.pls-bluegray .plc-path {
        stroke: #607d8b;
    }

    .preloaderinit.pls-amber .plc-path {
        stroke: #ffc107;
    }

    .preloaderinit.pls-teal .plc-path {
        stroke: #f48775;
    }

    .preloaderinit.pls-gray .plc-path {
        stroke: #9e9e9e;
    }

    .preloaderinit.pls-pink .plc-path {
        stroke: #e91e63;
    }

    .preloaderinit.pls-purple .plc-path {
        stroke: #9c27b0;
    }

    .preloaderinit.pls-white .plc-path {
        stroke: #fff;
    }

.pl-circular {
    animation: rotate 2s linear infinite;
    height: 100px;
    transform-origin: center center;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.plc-path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 2;
    stroke-miterlimit: 10;
    fill: none;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%, 0% {
        stroke: #f44336;
    }

    40% {
        stroke: #2196f3;
    }

    66% {
        stroke: #4caf50;
    }

    80%, 90% {
        stroke: #ffc107;
    }
}
    
.init {
    overflow: hidden !important;
}

svg path,
svg rect {
    fill: #ddd !important;
}

.pre-loader-logo img{
    width:100%;
}

.spinner {
    margin: auto auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

    .spinner > div {
        background-color: #fff;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
