﻿@using System.Web.Optimization
<div ng-controller="admin.views.home as vm">
    <div class="block-header">
        <h2>TRAMITES</h2>
    </div>
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div title="TRAMITES BLOQUEADOS" class="info-box-2 bg-red hover-zoom-effect" style="cursor: -webkit-grab;" ng-click="vm.goToTransact('BLOQUEADOS')">
                <div class="icon">
                    <i class="material-icons">blur_off</i>
                </div>
                <div class="content" >
                    <div class="text">BLOQUEADOS</div>
                    <div class="number count-to" data-from="0" data-to="{{vm.totals.transactLocked}}" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div title="TRAMITES EN PROGRESO" class="info-box-2 bg-cyan hover-zoom-effect" style="cursor: -webkit-grab;" ng-click="vm.goToTransact('PROGRESO')">
                <div class="icon">
                    <i class="material-icons">playlist_add</i>
                </div>
                <div class="content">
                    <div class="text">EN PROGRESO</div>
                    <div class="number count-to" data-from="0" data-to="{{vm.totals.transactInProcess}}" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div title="TRAMITES COMPLETADOS" class="info-box-2 bg-light-green hover-zoom-effect" style="cursor: -webkit-grab;" ng-click="vm.goToTransact('COMPLETADOS')">
                <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="content">
                    <div class="text">COMPLETADOS</div>
                    <div class="number count-to" data-from="0" data-to="{{vm.totals.transactFinished}}" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div title="TRAMITES PAUSADOS" class="info-box-2 bg-orange hover-zoom-effect" style="cursor: -webkit-grab;" ng-click="vm.goToTransact('PAUSADOS')">
                <div class="icon">
                    <i class="material-icons">playlist_play</i>
                </div>
                <div class="content">
                    <div class="text">PAUSADOS</div>
                    <div class="number count-to" data-from="0" data-to="{{vm.totals.transactInPause}}" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="header">
                    <h2>BANDEJA DE ENTRADA</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                           <button class="btn btn-info waves-effect" ng-click="vm.goTransact()">Ir a Trámites</button>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <!-- ******************************************************** -->
                        <table class="table table-hover dashboard-task-infos">
                            <thead>
                                <tr>
                                    <th>REG.</th>
                                    <th>TRAMITE</th>
                                    <th>AREA</th>
                                    <th>ESTADO</th>
                                    <th>PROPIETARIO</th>
                                    <th>PROGRESO</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in vm.dataContext.data track by $index"
                                    ui-sref="transacts.detail({paramId:data.id})" class="cursor">
                                    <td>#{{data.id}}</td>
                                    <td>{{data.transactTypeName}}</td>
                                    <td>{{data.areaName}}</td>
                                    <td>
                                        <span class="label {{data.stateColor}}">{{data.stateFormat | uppercase}}</span>
                                    </td>
                                    <td>{{data.fullName}}</td>
                                    <td>
                                        <div class="progress" title="Progreso {{data.percent}}%">
                                            <div class="progress-bar {{data.stateColor}}"
                                                 role="progressbar"
                                                 aria-valuenow="62"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100" style="width: {{data.percent}}%"></div>
                                        </div>
                                    </td>                                    
                                </tr>
                                <tr ng-if="vm.dataContext.data.length == 0">
                                    <td colspan="8" class="text-center">
                                        <i class="material-icons">info</i> 
                                        <br /> No hay tr&aacute;mites para mostrar
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- ******************************************************** -->
                    </div>

                    <button type="button"   
                            ng-click="vm.openModalTransact()"
                            class="btn bg-pink btn-circle waves-effect waves-circle waves-float pull-right">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="body bg-pink">
                    <div class="font-bold m-b--35">TRAMITES REALIZADOS</div>
                    <ul class="dashboard-stat-list">
                        <li>
                            HOY
                            <span class="pull-right"><b>{{vm.gralTotals.today}}</b> <small>TRAMITES</small></span>
                        </li>
                        <li>
                            AYER
                            <span class="pull-right"><b>{{vm.gralTotals.yesterday}}</b> <small>TRAMITES</small></span>
                        </li>
                        <li>
                            ULTIMA SEMANA
                            <span class="pull-right"><b>{{vm.gralTotals.lastWeek}}</b> <small>TRAMITES</small></span>
                        </li>
                        <li>
                            ULTIMO MES
                            <span class="pull-right"><b>{{vm.gralTotals.lastMonth}}</b> <small>TRAMITES</small></span>
                        </li>
                        <li>
                            ULTIMO AÑO
                            <span class="pull-right"><b>{{vm.gralTotals.lastYear}}</b> <small>TRAMITES</small></span>
                        </li>
                        <li>
                            TODOS
                            <span class="pull-right"><b>{{vm.gralTotals.total}}</b> <small>TRAMITES</small></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>