﻿.theme-pink {
    /*background-color: #E91E63;*/
    background: #eee;
}

.home-row {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.home-carousel {
    margin-left: -15px;
    margin-right: -15px;
}

.bg-pink h2, .bg-pink, .bg-pink a, .bg-pink .body {
    color: #fff !important;
}


h2 {
    font-weight: lighter;
    color: #ccc;
}

/* Application specific styles */
.famfamfam-flags {
    display: inline-block;
}

/* Styles for angular ui transition animations */

.angular-animation-container {
    position: relative;
}

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: absolute;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;

    &.ng-enter-active {
        left: 0;
        opacity: 1;
    }
}

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;

    &.ng-leave-active {
        left: 2em;
        opacity: 0;
    }
}

.cursor {
    cursor: pointer;
}

@media only screen and (max-width: 425px) {

    .home-row {
        border-radius: 0px;
        margin-top: -15px;
    }

    .modal-detail {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

.file-inline {
    color: #00bcd4;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline .created {
    color: #f44336;
    font-weight: bold;
}

ul.timeline:before {
    content: ' ';
    background: rgba(244, 67, 54, 0.50);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #f44336;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.history-item table i, .history-item table strong, .info-personal i, .info-personal strong {
    color: #f44336;
}

.history-item hr {
    width: 70%;
}

.info-personal i {
    position: relative;
    top: 5px;
}

btn-info-full i {
    font-size: 1.5rem;
}


.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all ease-in-out 0.2s;
}

.material-icons {
    transition: all ease-in-out 0.2s;
}

.fa-rotate-180 {
    transition: all ease-in-out 0.2s;
}

.history-item table {
    width: 100%;
    max-width: 450px;
}

.modal-transact {
    background: rgba(98, 17, 91, 0.9);
    overflow-y: auto;
    z-index: 2050;
    display: block;
}

.view-animation {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.view-animation.ng-enter {
    -webkit-animation: fadeInDown 0.5s;
    -moz-animation: fadeInDown 0.5s;
    -ms-animation: fadeInDown 0.5s;
    animation: fadeInDown 0.5s;
}

.view-animation.ng-leave {
    -webkit-animation: bounceOut 0.5s;
    -moz-animation: bounceOut 0.5s;
    -ms-animation: bounceOut 0.5s;
    animation: bounceOut 0.5s;
}

.view-animation-modal {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.view-animation-modal > div {
    z-index: 10000;
}

.view-animation-modal.ng-enter {
    -webkit-animation: bounceIn 0.5s;
    -moz-animation: bounceIn 0.5s;
    -ms-animation: bounceIn 0.5s;
    animation: bounceIn 0.5s;
}

.view-animation-modal.ng-leave {
    -webkit-animation: fadeOutUp 0.5s;
    -moz-animation: fadeOutUp 0.5s;
    -ms-animation: fadeOutUp 0.5s;
    animation: fadeOutUp 0.5s;
}


.title-small {
    font-weight: 100;
}

.title-strong {
    color: #00BCD4;
}

.code-qr img {
    width: 250px !important;
    height: auto !important;
    padding: 10px;
}

.detail-observation {
    background: rgb(238, 238, 238) !important;
    padding: 10px !important;
    color: #f44336;
    font-weight: bold;
    text-transform:uppercase;
}