﻿<form id="formPerson" name="formPerson" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span ng-show="vm.isNew">Crear </span><span ng-show="!vm.isNew">Editar </span><span>Persona</span>
        </h4>
    </div>

    <div class="modal-body">
        <div class="row">
            @* -- Apellido -- *@
            <div class="col-md-6">
                <div class="form-group form-float text-left">
                    <label>Apellido</label>
                    <div class="form-line">
                        <input type="text" class="form-control"
                               placeholder="Ingrese un apellido"
                               autocomplete="off"
                               ng-model="vm.person.surname" required />
                    </div>
                </div>
            </div>

            @* -- Nombre -- *@
            <div class="col-md-6">
                <div class="form-group form-float text-left">
                    <label>Nombre</label>
                    <div class="form-line">
                        <input type="text" class="form-control"
                               placeholder="Ingrese un nombre"
                               autocomplete="off"
                               ng-model="vm.person.name" required />
                    </div>
                </div>
            </div>

            @* -- Direccion -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>Direcci&oacute;n</label>
                    <div class="form-line">
                        <input type="text" class="form-control"
                               placeholder="Ingrese una direcci&oacute;n"
                               autocomplete="off"
                               ng-model="vm.person.adreess" required />
                    </div>
                </div>
            </div>

            @* -- NroDocumeto -- *@
            <div class="col-md-5">
                <div class="form-group form-float text-left">
                    <label>Nro Documeto</label>
                    <div class="form-line">
                        <input type="text" class="form-control"
                               placeholder="Ingrese un nro de documento"
                               autocomplete="off"
                               ng-model="vm.person.numberIdentity" required />
                    </div>
                </div>
            </div>

            @* -- Telefono 1 -- *@
            <div class="col-md-6">
                <div class="form-group form-float text-left">
                    <label>Tel&eacute;fono 1</label>
                    <div class="form-line">
                        <input type="text" class="form-control"
                               placeholder="Ingrese un tel&eacute;fono"
                               autocomplete="off"
                               ng-model="vm.person.phone" required />
                    </div>
                </div>
            </div>

            @* -- mail -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>Correo Electr&oacute;nico</label>
                    <div class="form-line">
                        <input type="email" name="email" class="form-control"
                               placeholder="Ingrese un correo"
                               autocomplete="off"
                               ng-model="vm.person.email" required />
                    </div>
                    <span class="messages" ng-show="formPerson.$submitted || formPerson.email.$touched">
                        <span ng-show="formPerson.email.$error.required">El campo es obligatorio.</span>
                        <span ng-show="formPerson.email.$error.email">Formato de email incorrecto.</span>
                    </span>
                </div>
            </div>


            @* -- Location+ -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>Localidad</label>
                    <div class="form-line">
                        <select class="form-control"
                                ng-model="vm.person.locationId"
                                ng-options="s.id as s.description for s in vm.locationList">
                            <option value="" selected hidden>Seleccione una localidad</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> Cancelar
            </button>
            <button type="submit"
                    class="btn btn-primary waves-effect"
                    ng-click="vm.save()"
                    ng-disabled="formPerson.$invalid">
                <i class="material-icons">save</i> Guardar
            </button>
        </div>
    </div>
</form>