﻿<form id="formTType" name="formTType" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span ng-show="vm.isNew">Crear </span><span ng-show="!vm.isNew">Editar </span><span>Tipo Archivo</span>
        </h4>
    </div>

    <div class="modal-body">
        <div class="row">

            @* -- Name -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>Tipo Archivo</label>
                    <div class="form-line">
                        <input name="nombre" type="text" class="form-control"
                               placeholder="Ingrese el nombre de archivo"
                               autocomplete="off"
                               ng-model="vm.fileAttachType.name" required />
                    </div>      
                    <span class="messages" ng-show="formTType.$submitted || formTType.name.$touched">
                        <span ng-show="formTType.name.$error.required">El campo es obligatorio.</span>       
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> Cancelar
            </button>
            <button type="submit"
                    class="btn btn-primary waves-effect"
                    ng-click="vm.save()"
                    ng-disabled="!formTType.$valid">
                <i class="material-icons">save</i> Guardar
            </button>
        </div>
    </div>
</form>