﻿<form id="formTransFiles" name="formTransFiles" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span ng-show="vm.isNew">Crear </span><span ng-show="!vm.isNew">Editar </span><span>Tipos de Archivo por Tr&aacute;mite</span>
        </h4>
    </div>

    <div class="modal-body">
        <div class="row">
            @* -- TransactTypes+ -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>Tipo de Tr&aacute;mite</label>
                    <div class="form-line">
                        <select class="form-control"
                                ng-model="vm.TransactTypeFileAttachType.transactTypeId"
                                ng-options="s.id as s.description for s in vm.transactTypeList" required>
                            <option value="" selected hidden>Seleccione un tipo de tr&aacute;mite</option>
                        </select>
                    </div>
                </div>
            </div>

            @* -- FileAttachs -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>Tipo de archivo</label>
                    <div class="form-line">
                        <select class="form-control"
                                ng-model="vm.TransactTypeFileAttachType.fileAttachTypeId"
                                ng-options="s.id as s.description for s in vm.fileAttachTypeList" required>
                            <option value="" selected hidden>Seleccione un tipo de archivo</option>
                        </select>
                    </div>
                </div>
            </div>

            @* -- isRequired -- *@
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="">
                        <input id="isRequired" type="checkbox" name="isRequired" ng-model="vm.TransactTypeFileAttachType.isRequired" checked class="form-control" />
                        <label for="isRequired" class="form-label">Es Requerido</label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> Cancelar
            </button>
            <button type="submit"
                    class="btn btn-primary waves-effect"
                    ng-click="vm.save()"
                    ng-disabled="!formTransFiles.$valid">
                <i class="material-icons">save</i> Guardar
            </button>
        </div>
    </div>
</form>