﻿@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@using Personeria.Web.Helpers
@{
    Layout = null;
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="es">
<head>
    @Html.Partial("_Meta")

    <title>Personeria | ADMIN</title>
    @*<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">*@

    <base href="/admin/" />

    @Styles.Render("~/app/vendorcss")
    @Styles.Render("~/app/admincss")

    <script type="text/javascript">
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
        @if (Html.IsDebug())
        {
            <text>var isDebug = true;</text>
        }
    </script>

    @Html.Partial("_ServiceWorker")
</head>
<body class="theme-pink" ng-app="admin">
    @Html.Partial("_Loading")

    <div class="overlay"></div>

    <div ng-controller="admin.views.layout as vm">
        <div ng-include="'/App/admin/views/layout/topbar.cshtml'" onload="vm.activateTopBar()"></div>
        <section>
            <aside id="leftsidebar" class="sidebar">
                <div ng-include="'/App/admin/views/layout/sidebar-user-area.cshtml'" onload="vm.activateLeftSideBar()"></div>
                <div ng-include="'/App/admin/views/layout/sidebar-nav.cshtml'"></div>
                <div ng-include="'/App/admin/views/layout/sidebar-footer.cshtml'"></div>
            </aside>

            <div ng-include="'/App/admin/views/layout/right-sidebar.cshtml'" onload="vm.activateRightSideBar()"></div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div ui-view class="view-animation"></div>
            </div>
        </section>
    </div>

    @Html.Partial("_ScriptsAdmin")
</body>
</html>