﻿
<aside id="rightsidebar" class="right-sidebar" ng-controller="admin.views.layout.rightSidebar as vm">
    <uib-tabset class="tab-container tabbable-line"
                style="overflow: hidden;height: 100%;">
        <uib-tab heading="NOTIFICACIONES" class="slimScrollBar">
            <ul class="notification">
                <li class="list-group-item"
                    style="padding-top: 0px;padding-bottom: 0px;">
                    <div class="row">
                        <div class="col-xs-6 btn btn-default waves-effect"
                             style="font-size:1rem"
                             ng-click="vm.deleteAll()">
                            Borrar todo
                        </div>
                        <div class="col-xs-6 btn btn-default waves-effect"
                             style="font-size:1rem"
                             ng-click="vm.markAllAsRead()">
                            Marcar todo como leido
                        </div>
                    </div>
                </li>
                <li class="list-group-item pointer noti-item cursor"
                    ng-class="{'unread':not.state == 0,'hidden':vm.loadNotification}"
                    ng-repeat="not in vm.notifications track by $index"
                    ng-click="vm.open(not)">
                    <span>
                        {{not.data.title | uppercase}}<br />
                        <small>{{not.data.message | uppercase}}</small><br />
                        <small>{{not.creationTime | date:'dd/MM/yyyy HH:mm'}}</small>
                    </span>
                    <i class="material-icons right">forum</i>
                    <small class="right badge">{{not.stateName}}</small>
                </li>
                <li class="list-group-item center"
                    ng-if="vm.notifications.length == 0">
                    No hay notificaciones
                    <i class="material-icons right">info</i>
                </li>
            </ul>
        </uib-tab>
        <uib-tab heading="CONFIGURACIÓN" tab-id="settings">
            <div>
                <ul class="notification">
                    <li class="list-group-item">
                        <span>NUEVOS TR&Aacute;MITES</span>
                        <div class="switch right">
                            <label>
                                <input type="checkbox"
                                       ng-change="vm.saveNotificationNewTransact()"
                                       ng-model="vm.isNotificationNewTransact">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span>CAMBIOS EN T&Aacute;MITES</span>
                        <div class="switch right">
                            <label>
                                <input type="checkbox"
                                       ng-change="vm.saveNotificationChangeTransact()"
                                       ng-model="vm.isNotificationChangeTransact">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">                        
                        <div class="form-group form-float text-left">
                            <label>IMPRESORA DE TICKET</label>
                            <div class="form-line focused">
                                <select class="form-control"
                                        ng-model="vm.user.printTicketDefaultId"
                                        ng-options="print.id as print.name for print in vm.prints"
                                        ng-change="vm.changePrint()">
                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </uib-tab>
    </uib-tabset>
</aside>