﻿@using Personeria
<div class="legal" ng-controller="admin.views.layout.sidebarFooter as vm">
    <div class="copyright">
        <a href="/">Personer&iacute;a</a> &copy; 2018 | @('v')@AppVersionHelper.ReleaseDate.ToString("yyyyMMddHHmm")
    </div>    
</div>