﻿<!-- Search Bar -->
@*<div class="search-bar" ng-controller="admin.views.layout.topbar as vm">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input materialInput type="text" placeholder="BUSCAR...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>*@ 
<!-- #END# Search Bar -->
<nav class="navbar" ng-controller="admin.views.layout.topbar as vm" ng-cloak>
    <div class="container-fluid background-official ">
        <div class="navbar-header">            
            <a ng-click="vm.openNotification()"
               class="pull-right alert-icon js-right-sidebar cursor alert visible-xs"
               title="Notificaciones">
                <i class="material-icons left">notifications</i> <span ng-if="vm.notificationCount > 0">({{vm.notificationCount}})</span>
            </a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand"
               ng-href="/admin">
                <img src="/images/logo-personeria-blanco.png?width=200"
                     style="padding-top: 0;margin-top: -16px;" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                @*<li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>*@
                <li class="pull-right">
                    <a ng-click="vm.openNotification()"
                       class="js-right-sidebar cursor alert"
                       title="Notificaciones">
                        <i class="material-icons left">notifications</i> <span ng-if="vm.notificationCount > 0">({{vm.notificationCount}})</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
