﻿<div id="formtransact" name="formtransact" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span ng-show="vm.isNew">Crear </span><span ng-show="!vm.isNew">Editar </span><span>Tr&aacute;mite</span>
        </h4>
    </div>

    <div class="modal-body">

        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Paso 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Paso 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="complete" role="tab" title="Completado">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <form role="form">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <br />
                        <h4 class="text-center">Datos Personales</h4>
                        <br />
                        @* -- Persona -- *@
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4" ng-show="!vm.hasPersonData">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">search</i>
                                    </span>
                                    <div class="form-line">
                                        <input name="dni"
                                               type="text"
                                               class="form-control text-center"
                                               placeholder="Ingrese su DNI y presione enter"
                                               autocomplete="off"
                                               ng-keypress="vm.searchPerson($event)"
                                               ng-model="vm.transact.search" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="vm.hasPersonData">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="col-md-12 text-center m-b-20 p-l-20 p-r-20 p-t-20 p-b-20"
                                     ng-show="vm.showMessage"
                                     style="background-color:#eee;">
                                    <p class="text-center" style="padding:10px;">
                                        No se pudo encontrar ninguna persona con el <strong>DNI {{vm.transact.search}}</strong>, por favor ingrese sus datos en nuestros registros,
                                        así la proxima vez notiene que volver a ingresarlos.
                                    </p>
                                </div>

                                @* -- Name -- *@
                                <div class="col-md-6">
                                    <div class="form-group form-float text-left">
                                        <label>Nombre</label>
                                        <div class="form-line">
                                            <input name="fullName" type="text" class="form-control"
                                                   placeholder="Ingrese su nombre"
                                                   autocomplete="off"
                                                   ng-readonly="vm.readOnlyPerson"
                                                   ng-model="vm.transact.person.name" />
                                        </div>
                                    </div>
                                </div>
                                @* -- Surname -- *@
                                <div class="col-md-6">
                                    <div class="form-group form-float text-left">
                                        <label>Apellido</label>
                                        <div class="form-line">
                                            <input name="fullName" type="text" class="form-control"
                                                   placeholder="Ingrese su apellido"
                                                   autocomplete="off"
                                                   ng-readonly="vm.readOnlyPerson"
                                                   ng-model="vm.transact.person.surname" />
                                        </div>
                                    </div>
                                </div>
                                @* -- Doc Identity -- *@
                                <div class="col-md-6">
                                    <div class="form-group form-float text-left">
                                        <label>N&uacute;mero de Documento</label>
                                        <div class="form-line">
                                            <input name="numberIdentity" type="text" class="form-control"
                                                   placeholder="Ingrese su documento"
                                                   autocomplete="off"
                                                   ng-minlength="7"
                                                   ng-readonly="vm.readOnlyPerson"
                                                   ng-model="vm.transact.person.numberIdentity" />
                                        </div>
                                    </div>
                                </div>

                                @* -- Phone -- *@
                                <div class="col-md-6">
                                    <div class="form-group form-float text-left">
                                        <label>Tel&eacute;fono</label>
                                        <div class="form-line">
                                            <input name="phone" type="text" class="form-control"
                                                   placeholder="Ingreses su tel&eacute;fono"
                                                   autocomplete="off"
                                                   ng-readonly="vm.readOnlyPerson"
                                                   ng-model="vm.transact.person.phone" />
                                        </div>
                                    </div>
                                </div>

                                @* -- Email -- *@
                                <div class="col-md-6">
                                    <div class="form-group form-float text-left">
                                        <label>Correo Electr&oacute;nico</label>
                                        <div class="form-line">
                                            <input name="email" type="text" class="form-control"
                                                   placeholder="Ingrese su correo"
                                                   autocomplete="off"
                                                   ng-readonly="vm.readOnlyPerson"
                                                   ng-model="vm.transact.person.email" />
                                        </div>
                                    </div>
                                </div>

                                @* -- Adress -- *@
                                <div class="col-md-6">
                                    <div class="form-group form-float text-left">
                                        <label>Domicilio</label>
                                        <div class="form-line">
                                            <input name="address" type="text" class="form-control"
                                                   placeholder="Ingrese su domicilio"
                                                   autocomplete="off"
                                                   ng-readonly="vm.readOnlyPerson"
                                                   ng-model="vm.transact.person.adreess" />
                                        </div>
                                    </div>
                                </div>

                                @* -- Location -- *@
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="form-group form-float text-left">
                                        <label>Localidad</label>
                                        <div class="form-line">
                                            <select class="form-control"
                                                    ng-disabled="vm.readOnlyPerson"
                                                    ng-model="vm.transact.person.locationId"
                                                    ng-options="s.id as s.description for s in vm.locationList">
                                                <option value="" selected hidden>Seleccione una localidad</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center">
                            <div class="col-sm-12 m-b-10">
                                <button type="button"
                                        class="btn btn-default waves-effect prev-step"
                                        ng-show="vm.hasPersonData"
                                        ng-click="vm.searchOther()">
                                    <i class="material-icons left" style="font-size: 15px;">search</i> Buscar otro
                                </button>
                                <button type="button"
                                        class="btn btn-primary waves-effect next-step" ng-show="vm.nextStepTransact()">
                                    Siguiente <i class="material-icons right" style="top: -1px;">arrow_forward</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        @* -- TransactType -- *@
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 m-b-20 m-t-20" ng-show="!vm.hasTransactTypeData">
                                <h4 class="text-center">Trámite</h4>
                                <div class="form-group form-float text-left">
                                    <label>Tipo deTrámite</label>
                                    <div class="form-line">
                                        <select class="form-control"
                                                ng-model="vm.transactTypeId"
                                                ng-change="vm.transactTypeSelectedChange()"
                                                ng-options="s.id as s.description for s in vm.transactTypeList">
                                            <option value="" selected hidden>Seleccione un trámite</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <h4 class="text-center" ng-show="vm.hasTransactTypeData">
                                    <br />
                                    <span class="title-small">Tipo de tr&aacute;mite:</span> <strong class="title-strong">{{vm.transactionName | uppercase}}</strong>
                                    <br />
                                    <small class="cursor" ng-click="vm.resetTransactType()">Cambiar tipo de tr&aacute;mite</small>
                                </h4>
                            </div>

                            @*-- Lista de Archivos Adjuntos --*@
                            <div ng-show="vm.hasTransactTypeData"
                                 class="col-sm-8 col-sm-offset-2 m-t-10 m-b-10">
                                <div class="col-xs-12 m-b-10">
                                    <strong class="title-strong">Archivos a Presentar</strong>                                    
                                </div>
                                <div ng-show="vm.hasTransactTypeData" class="col-sm-12 m-b-20"
                                     ng-repeat="doc in vm.documentList">

                                    - <strong>{{doc.data.fileAttachTypeName | uppercase}}</strong> <span ng-show="doc.data.isRequired"> (Obligatorio)</span>

                                    <div class="pull-right m-t--10" ng-show="vm.finishGeneral || !doc.finish">
                                        <div class="a-prevent btn btn-xs btn-link waves-effect" 
                                             ng-show="doc.fileInfo.path" 
                                             ng-click="vm.deleteFile(doc)" 
                                             title="Eliminar">
                                            <i class="material-icons">cancel</i>
                                        </div>
                                        <div ng-show="doc.finish" 
                                             class="btn btn-info waves-effect" 
                                             ngf-pattern="'.jpg,.png,.doc,.docx'"                                             
                                             ngf-select="doc.upload($file)" 
                                             ng-click="return false"
                                             ng-model="doc.fileInfo">
                                            <span ng-show="doc.finish && doc.fileInfo.path == null">Adjuntar</span>
                                            <span ng-show="doc.finish && doc.fileInfo.path != null">Cambiar</span>
                                        </div>
                                        <div ng-show="!doc.finish" class="btn btn-primary">
                                            <span><i class="material-icons">autorenew</i>Cargando {{doc.progress}} % ...</span>
                                        </div>

                                        <i ng-show="doc.fileInfo.path != null" class="glyphicon glyphicon-ok"></i>
                                    </div>

                                    <br />
                                    <small class="a-prevent waves-effect pull-left file-inline"
                                           ng-show="doc.fileInfo.path"
                                           ng-click="vm.openFile(doc.fileInfo)"
                                           title="Abrir">
                                        {{doc.fileInfo.fileName | limitTo: 15}}... {{doc.fileInfo.sizeTranslated}}
                                    </small>


                                </div>

                                @* -- Location+ -- *@
                                <div ng-show="vm.hasTransactTypeData" class="m-t-20 col-sm-6 col-sm-offset-3">
                                    <div class="form-group form-float text-left">
                                        <label class="title-strong">Localidad del Tr&aacute;mite</label>
                                        <div class="form-line">
                                            <select class="form-control"
                                                    ng-change="vm.locationSelectedChange()"
                                                    ng-model="vm.transact.transactLocationId"
                                                    ng-options="s.id as s.description for s in vm.locationList">
                                                <option value="" selected hidden>Seleccione una localidad</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                @* -- Observation -- *@
                                <div ng-show="vm.hasTransactTypeData" class="m-t-20 col-md-12">
                                    <div class="form-group form-float text-left">
                                        <label>Observaciones</label>
                                        <div class="form-line">
                                            <textarea class="form-control"
                                                      name="observation"
                                                      rows="3"
                                                      placeholder="Escriba una observación"
                                                      ng-model="vm.transact.observation"
                                                      ng-minlength="5"
                                                      style="background: rgb(238, 238, 238);padding: 10px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row text-center">
                            <div class="col-sm-12 m-b-10">
                                <button type="button"
                                        class="btn btn-default waves-effect prev-step">
                                    <i class="material-icons left">arrow_back</i> Anterior
                                </button>
                                <button type="button"
                                        class="btn btn-primary waves-effect next-step"
                                        ng-show="vm.nextStep">
                                    Siguiente <i class="material-icons right" style="top: -1px;">arrow_forward</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                        <h4 class="text-center">Información Detallada</h4>

                        <div class="row">
                            @* -- INFORMACION PERSONAL -- *@
                            <div class="col-xs-12 info-personal m-b-10">

                                <div class="col-xs-12">
                                    <h4 class="panel-title">INFORMACI&Oacute;N PERSONAL</h4>
                                    <hr />
                                </div>

                                <div class="col-xs-12">
                                    @*<div class="col-xs-12 text-center">
                    <qr size="100" text="vm.url"></qr>
                </div>*@

                                    @* -- Nombre completo -- *@
                                    <div class="col-sm-6 m-b-10">
                                        <i class="material-icons">account_circle</i>
                                        NOMBRE COMPLETO: <strong>{{vm.transact.person.name | uppercase}} {{vm.transact.person.surname | uppercase}}</strong>
                                    </div>

                                    @* -- Documento -- *@
                                    <div class="col-sm-6 m-b-10">
                                        <i class="material-icons">confirmation_number</i>
                                        DOCUMENTO: <strong>{{vm.transact.person.numberIdentity}}</strong>
                                    </div>

                                    @* -- Address -- *@
                                    <div class="col-sm-6 m-b-10">
                                        <i class="material-icons">my_location</i>
                                        DOMICILIO: <strong>{{vm.transact.person.adreess | uppercase}}</strong>
                                    </div>

                                    @* -- Localidad -- *@
                                    <div class="col-sm-6 m-b-10">
                                        <i class="material-icons">map</i>
                                        LOCALIDAD: <strong>{{vm.transactLocationName | uppercase}}</strong>
                                    </div>

                                    @* -- Telefono -- *@
                                    <div class="col-sm-6 m-b-10">
                                        <i class="material-icons">phone</i>
                                        TEL&Eacute;FONO: <strong>{{vm.transact.person.phone}}</strong>
                                    </div>

                                    @* -- Correo -- *@
                                    <div class="col-sm-6 m-b-10">
                                        <i class="material-icons">mail_outline</i>
                                        CORREO: <strong>{{vm.transact.person.email}}</strong>
                                    </div>

                                </div>
                            </div>

                            @* -- TIPO DE TRAMITES -- *@
                            <div class="col-sm-12 m-b-10">
                                <h5>ARCHIVOS ADJUNTOS</h5>
                                <hr />

                                @* -- Documentos -- *@
                                <div class="col-sm-12 waves-effect cursor table-hover history-item"
                                     ng-repeat="doc in vm.documentList"
                                     ng-click="vm.openFile(doc.fileInfo)">

                                    <table align="center">
                                        <tr>
                                            <td><i class="material-icons">description</i></td>
                                            <td class="p-l-20">
                                                <strong>{{doc.data.fileAttachTypeName | uppercase}}</strong>
                                                <br />
                                                <small>{{doc.fileInfo.fileName}}</small>
                                            </td>
                                        </tr>
                                    </table>
                                    <hr />
                                </div>
                            </div>

                            @* -- Observation -- *@
                            <div class="m-t-20 col-sm-8 col-sm-offset-2">
                                <div class="form-group form-float text-left">
                                    <label>Observaciones</label>
                                    <div class="form-line">
                                        <textarea class="form-control"
                                                  name="observation-detail"
                                                  rows="3"
                                                  ng-disabled="true"
                                                  placeholder="Escriba una observación"
                                                  ng-model="vm.transact.observation"
                                                  ng-minlength="5"
                                                  style="background: rgb(238, 238, 238);padding: 10px;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center m-b-10">
                            <button type="button" class="btn btn-default waves-effect prev-step"><i class="material-icons">arrow_back</i>Anterior</button>
                            <button type="button" class="btn btn-primary  waves-effectbtn-info-full next-step" ng-click="vm.save()"><i class="material-icons">save</i> Guardar</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>

    </div>

</div>
