﻿<form id="formcontent" name="formcontent" novalidate ng-submit="vm.check()">
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>CONSULTAR TRAMITE</span> <br />
            <small>Des aqu&iacute; podra buscar su tramite</small>
        </h4>
    </div>

    <div class="modal-body">
        <div class="row text-center">

            @* -- Name -- *@
            <div class="col-md-12">
                <br />
                <div class="form-group form-float text-center">
                    <label>N&uacute;mero de Registro </label>
                    <div class="form-line">
                        <input name="nombre" type="text" class="form-control text-center"
                               placeholder="Ingrese el n&uacute;mero de registro"
                               autocomplete="off"
                               ng-model="vm.register" 
                               autofocus
                               ng-required="true" />
                    </div>      
                    <span class="messages" ng-show="formcontent.$submitted || formcontent.name.$touched">
                        <span ng-show="formcontent.name.$error.required">El campo es obligatorio.</span>       
                    </span>
                </div>
                <br />
            </div>
        </div>
    </div>

    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> Cancelar
            </button>
            <button type="submit"
                    class="btn btn-primary bg-pink waves-effect"                    
                    ng-disabled="!formcontent.$valid">
                <i class="material-icons">search</i> Buscar
            </button>
        </div>
    </div>
</form>