﻿<style>body {overflow-y: hidden;}</style>
<div class="modal fade ng-scope ng-isolate-scope in modal-transact"
     ng-controller="app.views.transact.detail as vm">
    <div class="modal-dialog modal-lg modal-detail" id="formtransact " name="formtransact">
        <div class="modal-content">
            <div id="printThis">
                <div class="modal-header text-center">
                    <button type="button" class="close hidden-print"
                            ui-sref="home">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="/images/logo-gobierno_ministerio_gris.png?width=400"
                         class="img-responsive"
                         style="margin-bottom: 20px;margin-left:auto;margin-right:auto;" />

                    <h4 class="modal-title text-center">
                        <span>TR&Aacute;MITE REG.° #{{vm.reg}}</span>
                        <br />
                        <small>{{vm.transactionName}}</small>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @* -- INFORMACION PERSONAL -- *@
                        <div class="col-xs-12 info-personal m-b-20">

                            <div class="col-sm-12">
                                <h4 class="panel-title pull-left">INFORMACI&Oacute;N PERSONAL</h4>
                                <br />
                                <hr />
                            </div>

                            <table class="visible-print" style="width:100%">
                                <tr>
                                    <td>
                                        <div class="col-sm-7">

                                            @* -- Nombre completo -- *@
                                            <div class="col-sm-12 m-b-10">
                                                <i class="material-icons">account_circle</i>
                                                NOMBRE COMPLETO: <strong>{{vm.transact.person.name | uppercase}} {{vm.transact.person.surname | uppercase}}</strong>
                                            </div>

                                            @* -- Documento -- *@
                                            <div class="col-sm-12 m-b-10">
                                                <i class="material-icons">confirmation_number</i>
                                                DOCUMENTO: <strong>{{vm.transact.person.numberIdentity}}</strong>
                                            </div>

                                            @* -- Address -- *@
                                            <div class="col-sm-12 m-b-10">
                                                <i class="material-icons">my_location</i>
                                                DOMICILIO: <strong>{{vm.transact.person.adreess | uppercase}}</strong>
                                            </div>

                                            @* -- Localidad -- *@
                                            <div class="col-sm-12 m-b-10">
                                                <i class="material-icons">map</i>
                                                LOCALIDAD: <strong>{{vm.transactLocationName | uppercase}}</strong>
                                            </div>

                                            @* -- Telefono -- *@
                                            <div class="col-sm-12 m-b-10">
                                                <i class="material-icons">phone</i>
                                                TEL&Eacute;FONO: <strong>{{vm.transact.person.phone}}</strong>
                                            </div>

                                            @* -- Correo -- *@
                                            <div class="col-sm-12 m-b-10">
                                                <i class="material-icons">mail_outline</i>
                                                CORREO: <strong>{{vm.transact.person.email}}</strong>
                                            </div>

                                        </div>
                                    </td>
                                    <td align="center">
                                        <div class="col-sm-4 text-center code-qr">
                                            <small>C&oacute;digo de acceso directo al tr&aacute;mite</small>
                                            <br />
                                            <span class="text-center">
                                                <img src="{{vm.transact.codeQr}}" />
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="col-sm-7 hidden-print p-t-20 p-b-20">

                                @* -- Nombre completo -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">account_circle</i>
                                    NOMBRE COMPLETO: <strong>{{vm.transact.person.name | uppercase}} {{vm.transact.person.surname | uppercase}}</strong>
                                </div>

                                @* -- Documento -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">confirmation_number</i>
                                    DOCUMENTO: <strong>{{vm.transact.person.numberIdentity}}</strong>
                                </div>

                                @* -- Address -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">my_location</i>
                                    DOMICILIO: <strong>{{vm.transact.person.adreess | uppercase}}</strong>
                                </div>

                                @* -- Localidad -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">map</i>
                                    LOCALIDAD: <strong>{{vm.transactLocationName | uppercase}}</strong>
                                </div>

                                @* -- Telefono -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">phone</i>
                                    TEL&Eacute;FONO: <strong>{{vm.transact.person.phone}}</strong>
                                </div>

                                @* -- Correo -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">mail_outline</i>
                                    CORREO: <strong>{{vm.transact.person.email}}</strong>
                                </div>

                            </div>

                            @* -- Codigo QR -- *@
                            <div class="col-sm-4 text-center code-qr hidden-print p-b-20">
                                <small>C&oacute;digo de acceso directo al tr&aacute;mite</small>
                                <br />
                                <span class="text-center">
                                    <img src="{{vm.transact.codeQr}}" />
                                </span>
                            </div>

                        </div>

                        @* -- TIPO DE TRAMITES -- *@
                        <div class="col-sm-12 m-b-10">
                            <div class="col-xs-12">
                                <h5>ARCHIVOS ADJUNTOS</h5>
                                <hr />
                            </div>

                            @* -- Documentos -- *@
                            <div class="col-sm-12 waves-effect cursor table-hover history-item"
                                 ng-repeat="doc in vm.documentList">
                                <table align="center">
                                    <tr>
                                        <td><i class="material-icons">description</i></td>
                                        <td class="p-l-20" ng-click="vm.openFile(doc.fileInfo)">
                                            <strong>{{doc.document}}</strong>
                                            <br />
                                            <small title="{{doc.fileInfo.fileName}}">{{doc.fileInfo.fileName | limitTo: 40}}<span ng-if="doc.fileInfo.fileName.length > 40">...</span></small>
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                            </div>
                        </div>

                        @* -- Observaciones -- *@                        
                        <div class="col-sm-12">
                            <div class="col-xs-12">
                                <h5>OBERVACIONES</h5>
                                <hr>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="form-group form-float text-left">
                                    <div class="form-line">
                                        <textarea class="form-control detail-observation"
                                                  name="observation"
                                                  rows="3"
                                                  placeholder="No hay observaciones"
                                                  ng-model="vm.transact.observation"
                                                  ng-minlength="5"
                                                  ng-disabled="true"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>


                        @* -- HISTORIAL -- *@
                        <div class="col-sm-12">
                            <div class="col-xs-12">
                                <h5>HISTORIAL</h5>
                                <hr>
                            </div>

                            <div class="col-xs-12">
                                <ul class="timeline">
                                    <li ng-repeat="his in vm.historyList track by $index">
                                        <a class="created">{{his.created}}</a>
                                        <a class="float-right"></a>
                                        <p>{{his.description}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* -- Footer -- *@
            <div class="modal-footer text-center">
                <div class="row text-center">
                    <button type="button"
                            class="btn btn-primary waves-effect btn-info-full"                            
                            ng-click="vm.print()">
                        <i class="material-icons left">printer</i>Imprimir
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>