﻿<style>
    body {
        overflow-y: hidden;
    }
</style>
<div class="modal fade ng-scope ng-isolate-scope in modal-transact"
     ng-controller="app.views.transact.revision as vm">
    <div class="modal-dialog modal-lg modal-detail" id="formtransact " name="formtransact">
        <div class="modal-content">
            <div id="printThis">
                <div class="modal-header">
                    <button type="button" class="close hidden-print"
                            ui-sref="transacts">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="/images/logo-gobierno_ministerio_gris.png?width=400"
                         class="img-responsive"
                         style="margin-bottom: 20px;margin-left:auto;margin-right:auto;" />

                    <h4 class="modal-title text-center">
                        <span>TR&Aacute;MITE REG.° #{{vm.transact.id}}</span>
                        <br />
                        <small>{{vm.transact.transactTypeName}}</small>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @* -- MENSAJE -- *@
                        <div class="col-xs-12 jumbotron text-center">
                            <p>
                                Se le ha pedido una revisi&oacute;n de los documentos subidos, por favor haga clic en cada uno para abrir y verificar que est&aacute;n correctos, modifique los que corresponda y presione guardar. S&iacute; usted ve que est&aacute;n correctos y se le ha emitido una revisi&oacute;n por favor p&oacute;ngase en contacto con PERSONAS JURIDICAS para m&aacute;s informaci&oacute;n
                            </p>
                        </div>

                        @* -- INFORMACION PERSONAL -- *@
                        <div class="col-xs-12 info-personal m-b-20">

                            <div class="col-sm-12">
                                <h4 class="panel-title pull-left">INFORMACI&Oacute;N PERSONAL</h4>
                                <br />
                                <hr />
                            </div>

                            <div class="col-sm-7 hidden-print p-t-20 p-b-20">

                                @* -- Nombre completo -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">account_circle</i>
                                    NOMBRE COMPLETO: <strong>{{vm.transact.person.name | uppercase}} {{vm.transact.person.surname | uppercase}}</strong>
                                </div>

                                @* -- Documento -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">confirmation_number</i>
                                    DOCUMENTO: <strong>{{vm.transact.person.numberIdentity}}</strong>
                                </div>

                                @* -- Address -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">my_location</i>
                                    DOMICILIO: <strong>{{vm.transact.person.adreess | uppercase}}</strong>
                                </div>

                                @* -- Localidad -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">map</i>
                                    LOCALIDAD: <strong>{{vm.transact.locationName | uppercase}}</strong>
                                </div>

                                @* -- Telefono -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">phone</i>
                                    TEL&Eacute;FONO: <strong>{{vm.transact.person.phone}}</strong>
                                </div>

                                @* -- Correo -- *@
                                <div class="col-sm-12 m-b-10">
                                    <i class="material-icons">mail_outline</i>
                                    CORREO: <strong>{{vm.transact.person.email}}</strong>
                                </div>

                            </div>

                            @* -- Codigo QR -- *@
                            <div class="col-sm-4 text-center code-qr hidden-print p-b-20">
                                <small>C&oacute;digo de acceso directo al tr&aacute;mite</small>
                                <br />
                                <span class="text-center">
                                    <img src="{{vm.transact.codeQr}}" />
                                </span>
                            </div>

                        </div>

                        @* -- TIPO DE TRAMITES -- *@
                        <div class="col-sm-12 m-b-10">
                            <div class="col-xs-12">
                                <h5>ARCHIVOS ADJUNTOS</h5>
                                <hr />
                            </div>

                            @* -- Documentos -- *@
                            <div class="col-xs-12 waves-effect cursor table-hover history-item"
                                 ng-repeat="doc in vm.documentList">

                                <table align="center">
                                    <tr>
                                        <td><i class="material-icons" id="hidden_icon" name="hidden_icon">description</i></td>
                                        <td class="p-l-20" ng-click="vm.openFile(doc.fileInfo)">
                                            <strong>{{doc.document}}</strong>
                                            <br />
                                            <small title="{{doc.fileInfo.fileName}}">{{doc.fileInfo.fileName | limitTo: 40}}<span ng-if="doc.fileInfo.fileName.length > 40">...</span></small>
                                        </td>
                                        <td >
                                            <div class="pull-right" ng-show="vm.finishGeneral || !doc.finish">
                                                <div class="a-prevent btn btn-xs btn-link waves-effect"
                                                     ng-show="doc.fileInfo.path"
                                                     ng-click="vm.deleteFile(doc)"
                                                     title="Eliminar">
                                                    <i class="material-icons">cancel</i>
                                                </div>
                                                <div ng-show="doc.finish" class="btn btn-info waves-effect"
                                                     ngf-pattern="'.jpg,.png,.doc,.docx'"
                                                     ngf-select="doc.upload($file)" ng-model="doc.fileInfo">
                                                    <span ng-show="doc.finish && doc.fileInfo.path == null">Adjuntar</span>
                                                    <span ng-show="doc.finish && doc.fileInfo.path != null">Cambiar</span>
                                                </div>
                                                <div ng-show="!doc.finish" class="btn btn-primary">
                                                    <span><i class="material-icons">autorenew</i>Cargando {{doc.progress}} % ...</span>
                                                </div>

                                                <i ng-show="doc.fileInfo.path != null" class="glyphicon glyphicon-ok"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            @* -- Footer -- *@
            <div class="modal-footer text-center" id="hidden_icon" name="hidden_icon">
                <div class="row text-center">
                    <button type="button"
                            class="btn btn-default waves-effect"                            
                            ng-click="vm.cancel()">
                        <i class="material-icons">cancel</i> Cancelar
                    </button>                    
                    <button type="submit"
                            class="btn btn-primary waves-effect"
                            ng-click="vm.save()"                            
                            ng-disabled="!vm.saveVisible">
                        <i class="material-icons">save</i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>