﻿<form id="frm_edit_role" name="roleEditForm" novalidate>

    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>Editar Rol</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input class="form-control" type="text" name="RoleName" autocomplete="off" ng-model="vm.role.name" required maxlength="32" minlength="2">
                        <label class="form-label">Rol</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" name="DisplayName" autocomplete="off" ng-model="vm.role.displayName" required maxlength="32" minlength="2" class="validate form-control">
                        <label class="form-label">Nombre</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <textarea name="Description" autocomplete="off" ng-model="vm.role.description" class="validate form-control"></textarea>
                        <label class="form-label">Descripci&oacute;n</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <h4>Permisos</h4>
                <div class="col-sm-6" ng-repeat="permission in vm.permissions track by $index">
                    <input type="checkbox" name="permission" value="{{permission.name}}" class="filled-in" id="permission-{{$index}}" ng-model="permission.isAssigned" />
                    <label for="permission-{{$index}}">{{permission.displayName}}</label>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> Cancelar
            </button>
            <button type="submit"
                    class="btn btn-primary waves-effect"
                    ng-click="vm.save()"
                    ng-disabled="!roleEditForm.$valid">
                <i class="material-icons">save</i> Guardar
            </button>
        </div>
    </div>

</form>