﻿
<div class="row clearfix" ng-controller="admin.views.roles.index as vm">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2 class="title-custom">
                    Roles
                </h2>
                <div class="input-group form-float">
                    <div class="form-line">
                        <input type="text" ng-model="vm.filters.search"
                               ng-model-options="{debounce: 500 }"
                               placeholder="Buscar por rol o nombre." class="form-control">

                    </div>
                </div>
            </div>

            <div class="body">

                <div class="table-responsive">
                    <!-- ******************************************************** -->
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Rol</th>
                                <th>Nombre</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="role in vm.roles">
                                <td>{{role.name}}</td>
                                <td>{{role.displayName}}</td>
                                <td class="dropdown">
                                    <a href="javascript:void(0);" 
                                       class="dropdown-toggle pull-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.openRoleEditModal(role)"><i class="material-icons">create</i>Editar</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.delete(role)"><i class="material-icons">delete_sweep</i>Borrar</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="vm.dataContext.data.length == 0">
                                <td colspan="8" class="text-center">
                                    <i class="material-icons">info</i> No hay datos para mostrar
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- ******************************************************** -->
                    <div class="row text-center m-t-10" ng-if="vm.dataContext.data.length > 0">
                        <span>Cantidad total: {{vm.dataContext.metaData.totalItemCount}}</span>
                    </div>
                </div>

                <div class="row text-center" ng-if="vm.dataContext.data.length > 0">
                    <ul uib-pagination
                        total-items="vm.dataContext.metaData.totalItemCount"
                        ng-model="vm.filters.page"
                        max-size="4"
                        previous-text="Atras"
                        next-text="Siguiente"
                        ng-change="vm.pageChanged()"></ul>
                </div>

                <button type="button" data-toggle="modal" class="btn bg-pink btn-circle waves-effect waves-circle waves-float pull-right" ng-click="vm.openRoleCreationModal()">
                    <i class="material-icons">add</i>
                </button>
            </div>
            
        </div>
    </div>
</div>