﻿@using System.Web.Optimization
<div ng-controller="app.views.home as vm">
    <div class="row p-l-20">
        <h2>Sistema de Personeria</h2>
    </div>
    <!-- Widgets -->
    <div class="row clearfix home-row">

        @* -- Galeria -- *@
        <div class="col-xs-12">
            <div class="home-carousel" uib-carousel active="0" interval="3000" no-wrap="false">
                <div uib-slide ng-repeat="slide in vm.slides track by $index" index="$index">
                    <img ng-src="{{slide.path}}" style="margin:auto;width:100%;">
                    <div class="carousel-caption" ng-if="slide.title != null">
                        <h4>{{slide.title}}</h4>
                        <a ng-if="slide.link != null"
                           target="_blank"
                           href="{{slide.link}}"
                           class="btn btn-block bg-pink waves-effect"
                           style="width: 150px">Abrir</a>
                        <br ng-if="slide.link != null" />
                    </div>
                </div>
            </div>
            <br /><br />
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="col-xs-12">
                <div class="info-box-2 bg-green hover-zoom-effect waves-effect cursor new-transact"
                     ng-click="vm.createTransact()">
                    <div class="icon">
                        <i class="material-icons">flight_takeoff</i>
                    </div>
                    <div class="content">
                        <div class="text">INICIAR</div>
                        <div class="number">TRAMITE</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="info-box-2 bg-cyan hover-zoom-effect waves-effect cursor consult-transact"
                     ng-click="vm.consult()">
                    <div class="icon">
                        <i class="material-icons">flight_takeoff</i>
                    </div>
                    <div class="content">
                        <div class="text">CONSULTAR</div>
                        <div class="number">TRAMITE</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 align-center">
                <a ng-if="!vm.isLogin" ng-click="vm.go('/iniciar')" class="btn btn-default btn-block waves-effect"><i class="material-icons">account_circle</i> Iniciar</a>
                <a ng-if="vm.isLogin" ng-click="vm.go('/admin')" class="btn btn-default btn-block waves-effect"><i class="material-icons">account_circle</i> Admin</a>
                <br /><br />
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        ¿Que debo saber?
                        <small>Tramites...</small>
                    </h2>
                </div>
                <div class="body">
                    Si usted necesita realizar un nuevo tramite por favor presione donde dice <strong>INICIAR TRAMITE</strong><br />
                    Si usted ya realizo un tramite y solo necesita consultar el estado del tramite por favor presione donde dice <strong>CONSULTAR TRAMITE</strong><br />
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="body" style="padding:0px">
                    <iframe src="//www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmingobsanluis%2F&tabs=timeline&width=360&height=400&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId"
                            width="360"
                            height="400"
                            style="border:none;overflow:hidden;width:100%"
                            scrolling="no"
                            frameborder="0"
                            allowTransparency="true"
                            allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>
        
</div>