﻿<form id="formTranArea" name="formTranArea" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span ng-show="vm.isNew">Crear </span><span ng-show="!vm.isNew">Editar </span><span>Tr&aacute;mite de Área</span>
        </h4>
    </div>

    <div class="modal-body">
        <div class="row">
            @* -- Areas+ -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>Äreas</label>
                    <div class="form-line">
                        <select class="form-control"
                                ng-model="vm.transactTypeArea.areaId"
                                ng-options="s.id as s.description for s in vm.areaList" required>
                            <option value="" selected hidden>Seleccione un área</option>
                        </select>
                    </div>
                </div>
            </div>

            @* -- TransactTypes+ -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>Tipo de Tr&aacute;mite</label>
                    <div class="form-line">
                        <select class="form-control"
                                ng-model="vm.transactTypeArea.transactTypeId"
                                ng-options="s.id as s.description for s in vm.transactTypeList" required>
                            <option value="" selected hidden>Seleccione un tipo de tr&aacute;mite</option>
                        </select>
                    </div>
                </div>
            </div>

            @* -- Orden+ -- *@
            <div class="col-md-4">
                <div class="form-group form-float text-left">
                    <label>Orden</label>
                    <div class="form-line">
                        <input type="number" class="form-control"
                               placeholder="Ingrese un orden"
                               autocomplete="off"
                               ng-model="vm.transactTypeArea.order" required />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> Cancelar
            </button>
            <button type="submit"
                    class="btn btn-primary waves-effect"
                    ng-click="vm.save()"
                    ng-disabled="!formTranArea.$valid">
                <i class="material-icons">save</i> Guardar
            </button>
        </div>
    </div>
</form>