﻿@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Personeria
@using Personeria.Web.Helpers

@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="es">
<head>
    @Html.Partial("_Meta")

    <title>@ViewBag.Title</title>

    @* -- View specific styles -- *@
    @Styles.Render("~/app/vendorcss")
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
        @if (Html.IsDebug())
        {
            <text>var isDebug = true;</text>
        }
    </script>

    @Html.Partial("_ServiceWorker")
</head>
<body class="login-page theme-pink background-official">

    @Html.Partial("_Loading")

    <div class="login-box">
        <div class="logo">
            <a asp-controller="Home"
               asp-action="Index">
                <img src="/images/logo-personeria-blanco.png?width=200"
                     style="padding-top: 0;margin-top: -16px;" />
            </a>
        </div>

        @RenderBody()
        
        <div class="legal align-center">
            <img src="/images/logo-gobierno_blanco.png" class="img-responsive center-block" />
            <div class="copyright">
                2018 &copy; <a href="/" class="btn-link" style="color:#ddd">Personeria</a>.
            </div>            
        </div>
    </div>

    @Html.Partial("_Scripts")
    
    @* -- View specific scripts -- *@
    @RenderSection("scripts", required: false)
    @Html.PartialViewScripts()
    <script>
        (function () {
            $(function () {
                setTimeout(function () {
                    $('.page-loader').slideUp();
                }, 500);
            });
        })();
    </script>
</body>
</html>
