﻿<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Personeria Juridica, San Luis">
<meta name="author" content="Gobierno de la Provincia de San Luis">

<link rel="shortcut icon" href="/favicon.ico">

<link rel="manifest" href="/manifest.json">
