﻿@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions

<!--[if lt IE 9]>
    <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
    <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
<![endif]-->

@* -- Vendor JS -- *@
@Scripts.Render("~/app/vendorjs")

@* -- Proxy JS -- *@
<script>moment.locale('es');</script>
<script src="/app/jsproxy?v=@(Clock.Now.Ticks)"></script>

@* -- SignalR scripts -- *@
<script src="/app/signalr/hubs?v=@(Clock.Now.Ticks)"></script>
@Scripts.Render("~/app/signalrlib")

@* -- Main JS -- *@
@Scripts.Render("~/app/mainjs")

@* -- Cache image -- *@
<img src="/images/logo-gobierno_blanco.png?width=200" style="display:none"/>