﻿@using Abp.Collections.Extensions
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Personeria | ERROR";
}

<style>
    .login-page {
        max-width: 100% !important;
    }
</style>

<div class="container fix-container">
    <div class="row">
        <section class="col-xs-12">
            <div class="card">
                <div class="header text-center">
                    <h3 class="panel-title">Ups ocurrio un error</h3>
                </div>
                <div class="body">
                    <div class="text-center">
                        <br />
                        Ha ocurrido un error inesperado. Por favor, p&oacute;ngase en contacto con el administrador del sistema.
                        <br /><br />
                        <a class="btn btn-warning waves-effect" style="color: #fff;" href="mailto:personeria@aui.edu.ar">personeria@aui.edu.ar</a>
                        <br /><br />
                    </div>
                    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
                    {
                        <div>
                            <p>
                                <b>Exception:</b> @Model.Exception.Message<br />
                                <b>Controller:</b> @Model.ControllerName<br />
                                <b>Action:</b> @Model.ActionName
                            </p>

                            <pre>
                                @Model.Exception.StackTrace
                             </pre>

                        </div>
                    }

                </div>
            </div>
        </section>
    </div>
</div>