﻿<form id="formarea" name="formarea" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span ng-show="vm.isNew">Crear </span><span ng-show="!vm.isNew">Editar </span><span>&aacute;rea</span>
        </h4>
    </div>

    <div class="modal-body">
        <div class="row">

            @* -- Name -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>Nombre</label>
                    <div class="form-line">
                        <input name="nombre" type="text" class="form-control"
                               placeholder="Ingrese el nombre del &aacute;rea"
                               autocomplete="off"
                               ng-model="vm.area.name" required />
                    </div>      
                    <span class="messages" ng-show="formarea.$submitted || formarea.name.$touched">
                        <span ng-show="formarea.name.$error.required">El campo es obligatorio.</span>       
                    </span>
                </div>
            </div>

            @* -- Description -- *@
            <div class="col-md-12">
                <div class="form-group form-float text-left">
                    <label>Descripci&oacute;n</label>
                    <div class="form-line">
                        <textarea class="form-control"
                                  name="observation"
                                  rows="3"
                                  placeholder="Escriba una descripci&oacute;n"
                                  ng-model="vm.area.description"
                                  ng-minlength="5"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> Cancelar
            </button>
            <button type="submit"
                    class="btn btn-primary waves-effect"
                    ng-click="vm.save()"
                    ng-disabled="!formarea.$valid">
                <i class="material-icons">save</i> Guardar
            </button>
        </div>
    </div>
</form>