﻿<form id="formTType" name="formTType" novalidate>
    <div class="modal-header">
        <button type="button" class="close"
                ng-click="vm.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span ng-show="vm.isNew">Crear </span><span ng-show="!vm.isNew">Editar </span><span>Tipo Tr&aacute;mite</span>
        </h4>

        <div class="row">
            <div class="col-xs-12 text-center breadcrumb info-fileattach m-t-10">
                Desde aqu&iacute; puede crear o editar los tipos de tr&aacute;mites que las personas pueden realizar, ingrese un nombre para el tipo, este nombre se le mostrara al usuario, tambi&eacute;n ingrese por las &aacute;reas que tiene que pasar este tr&aacute;mite, al menos tiene que seleccionar una, despu&eacute;s ingrese los archivos que deben ingresar he indique si son requeridos.
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-col-deep-orange" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home_with_icon_title" data-toggle="tab" aria-expanded="false">
                            <i class="material-icons">art_track</i> Tr&aacute;mite
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#profile_with_icon_title" data-toggle="tab" aria-expanded="true">
                            <i class="material-icons">business</i> &Aacute;reas
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#messages_with_icon_title" data-toggle="tab" aria-expanded="false">
                            <i class="material-icons">perm_media</i> Archivos
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in p-l-20 p-r-20 p-t-20" id="home_with_icon_title">
                        @* -- Name -- *@
                        <div class="col-md-12">
                            <div class="form-group form-float text-left">
                                <label>Nombre Tr&aacute;mite</label>
                                <div class="form-line">
                                    <input name="nombre" type="text" class="form-control"
                                           placeholder="Ingrese el nombre de tr&aacute;mite"
                                           autocomplete="off"
                                           ng-model="vm.transactType.name" required />
                                </div>
                                <span class="messages" ng-show="formTType.$submitted || formTType.name.$touched">
                                    <span ng-show="formTType.name.$error.required">El campo es obligatorio.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade p-t-20" id="profile_with_icon_title">
                        <div class="row p-l-20 p-r-20">
                            @* -- Areas+ -- *@
                            <div class="col-xs-9">
                                <div class="form-group form-float text-left">
                                    <label>&Aacute;reas</label>
                                    <div class="form-line">
                                        <select class="form-control"
                                                ng-change="vm.selectedArea(vm.transactType)"
                                                ng-model="vm.transactType.areaId"
                                                ng-options="s.id as s.description for s in vm.areaList">
                                            <option value="" selected hidden>Seleccione un &aacute;rea</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            @* -- Areas+ -- *@
                            <div class="col-xs-3">
                                <button class="btn bg-pink btn-circle waves-effect waves-circle waves-float pull-left"
                                        ng-click="vm.newArea()" type="button" title="Nueva &Aacute;rea">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>

                            <div class="col-md-12">

                                <!-- ******************************************************** -->
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Ord&eacute;n</th>
                                            <th>&Aacute;rea</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="tta in vm.transactType.transactTypeAreaRelations track by $index">
                                            <td>{{$index + 1}}</td>
                                            <td>{{tta.areaName}}</td>
                                            <td class="text-center">
                                                <button type="button"
                                                        class="btn btn-danger btn-circle waves-effect waves-circle waves-float"
                                                        ng-click="vm.deleteFlujo(tta)">
                                                    <i class="material-icons">clear</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="vm.transactType.transactTypeAreaRelations.length == 0">
                                            <td colspan="8" class="text-center">
                                                <i class="material-icons">info</i> No hay areas seleccionadas
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- ******************************************************** -->

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade p-t-20" id="messages_with_icon_title">
                        <div class="row p-l-20 p-r-20">
                            @* -- FileTypes+ -- *@
                            <div class="col-xs-9">
                                <div class="form-group form-float text-left">
                                    <label>Tipos de Archivo</label>
                                    <div class="form-line">
                                        <select class="form-control"
                                                ng-change="vm.selectedFile(vm.transactType)"
                                                ng-model="vm.transactType.fileId"
                                                ng-options="s.id as s.description for s in vm.fileTypeList">
                                            <option value="" selected hidden>Seleccione un tipo de archivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            @* -- Areas+ -- *@
                            <div class="col-xs-3">
                                <button class="btn bg-pink btn-circle waves-effect waves-circle waves-float pull-left"
                                        ng-click="vm.newFileAttach()" type="button" title="Nuevo archivo">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>

                            @*FileGrid*@
                            <div class="col-xs-12">

                                <!-- ******************************************************** -->
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th></th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="attach in vm.transactType.transactTypeFileAttachTypeRelations track by $index">
                                            <td>{{attach.fileAttachTypeName | uppercase}}</td>
                                            <td>
                                                <div class="focused">
                                                    <input id="isRequired-{{$index}}"
                                                           type="checkbox"
                                                           name="isRequired-{{$index}}"
                                                           ng-model="attach.isRequired"
                                                           checked=""
                                                           class="form-control chk-col-pink">
                                                    <label for="isRequired-{{$index}}" class="form-label">
                                                        <span ng-if="!attach.isRequired">NO</span> ES OBLIGATORIO
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <button type="button"
                                                        class="btn btn-danger btn-circle waves-effect waves-circle waves-float"
                                                        ng-click="vm.deleteAttach(attach)">
                                                    <i class="material-icons">clear</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="vm.transactType.transactTypeFileAttachTypeRelations.length == 0">
                                            <td colspan="8" class="text-center">
                                                <i class="material-icons">info</i> No hay archivos seleccionados
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- ******************************************************** -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer text-center">
        <div class="row text-center">
            <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                <i class="material-icons">cancel</i> Cancelar
            </button>
            <button type="submit"
                    class="btn btn-primary waves-effect"
                    ng-click="vm.save()"
                    ng-disabled="!formTType.$valid">
                <i class="material-icons">save</i> Guardar
            </button>
        </div>
    </div>
</form>