﻿<div class="row clearfix" ng-controller="admin.views.transactType.index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2 class="title-custom">
                    Tipo de Tr&aacute;mites
                </h2>
                <div class="input-group form-float">
                    <div class="form-line">
                        <input type="text" ng-model="vm.filters.search"
                               ng-model-options="{debounce: 500 }"
                               placeholder="Buscar por nombre" class="form-control">

                    </div>                   
                </div>
            </div>

            <div class="body">

                <div class="">
                    <!-- ******************************************************** -->
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Tipo Tr&aacute;mite</th>
                                <th class="text-center">Cantidad de Tr&aacute;mites</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in vm.dataContext.data track by $index">
                                <td>{{data.name}}</td>
                                <td class="text-center">{{data.count}}</td>
                                <td class="dropdown text-center">
                                    <a href="javascript:void(0);" 
                                       class="dropdown-toggle" 
                                       data-toggle="dropdown" 
                                       role="button" 
                                       aria-haspopup="true" 
                                       aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.openModal(data)"><i class="material-icons">create</i>@L("Edit")</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.delete(data.id)"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="vm.dataContext.data.length == 0">
                                <td colspan="8" class="text-center">
                                    <i class="material-icons">info</i> No hay datos para mostrar
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- ******************************************************** -->
                </div>

                <div class="row text-center" ng-if="vm.dataContext.data.length > 0">
                    <span>Cantidad total: {{vm.dataContext.metaData.totalItemCount}}</span>
                </div>

                <div class="row text-center" ng-if="vm.dataContext.data.pageCount > 0">
                    <ul uib-pagination
                        total-items="vm.dataContext.metaData.totalItemCount"
                        ng-model="vm.filters.page"
                        max-size="4"
                        previous-text="Atras"
                        next-text="Siguiente"
                        ng-change="vm.pageChanged()"></ul>
                </div>

                <button type="button" data-toggle="modal" class="btn bg-pink btn-circle waves-effect waves-circle waves-float pull-right" ng-click="vm.openModal()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>