﻿/* Application specific styles */
.famfamfam-flags {
    display: inline-block;
}

/* Styles for angular ui transition animations */

.angular-animation-container {
    position: relative;
}

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: absolute;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;

    &.ng-enter-active {
        left: 0;
        opacity: 1;
    }
}

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;

    &.ng-leave-active {
        left: 2em;
        opacity: 0;
    }
}


.loading > i {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loader 1.1s infinite linear;
    animation: loader 1.1s infinite linear;
    border-left-color: #fff;
    border-style: solid;
}


#loading-bar,
#loading-bar-spinner {
    pointer-events: none;
    -webkit-pointer-events: none;
    -webkit-transition: 350ms linear all;
    -moz-transition: 350ms linear all;
    -o-transition: 350ms linear all;
    transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
    opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
    opacity: 1;
}

#loading-bar .bar {
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    -o-transition: width 350ms;
    transition: width 350ms;
    background: #fff;
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
    position: absolute;
    width: 70px;
    right: 0;
    top: 0;
    height: 2px;
    opacity: .45;
    -moz-box-shadow: #fff 1px 0 6px 1px;
    -ms-box-shadow: #fff 1px 0 6px 1px;
    -webkit-box-shadow: #fff 1px 0 6px 1px;
    box-shadow: #fff 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#loading-bar-spinner {
    display: block;
    position: fixed;
    z-index: 10002;
    top: 10px;
    left: 10px;
}

#loading-bar-spinner .spinner-icon, .spinner-typehead .spinner-icon {
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #fff;
    border-left-color: #fff;
    border-radius: 50%;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation: loading-bar-spinner 400ms linear infinite;
    -ms-animation: loading-bar-spinner 400ms linear infinite;
    -o-animation: loading-bar-spinner 400ms linear infinite;
    animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loading-bar-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes loading-bar-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes loading-bar-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading-bar-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.title-small {
    font-weight: 100;
}

.title-strong {
    color: #00BCD4;
}

@media only screen and (max-width: 425px) {

    .modal-detail {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline .created {
    color: #f44336;
    font-weight: bold;
}

ul.timeline:before {
    content: ' ';
    background: rgba(244, 67, 54, 0.50);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #f44336;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.history-item table i, .history-item table strong, .info-personal i, .info-personal strong {
    color: #f44336;
}

.history-item hr {
    width: 70%;
}

.info-personal i {
    position: relative;
    top: 5px;
}

btn-info-full i {
    font-size: 1.5rem;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all ease-in-out 0.2s;
}

.material-icons {
    transition: all ease-in-out 0.2s;
}

.fa-rotate-180 {
    transition: all ease-in-out 0.2s;
}

.history-item table {
    width: 100%;
    max-width: 450px;
}


.notification {
    list-style: none;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.noti-item:hover {
    background: #af1458;
    color: #fff;
    border-radius: 0px;
}


.switch label input[type=checkbox]:checked + .lever {
    background-color: rgba(191, 25, 29, 0.7);
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #af1458;
    left: 24px;
}

.unread {
    background: #ccc;
}

.tab-content {
    overflow-y: auto;
    height: 100% !important;
    width: 100%;
    overflow-x: hidden;
}

.alert span {
    position: relative;
    top: -8px;
    right: 5px;
}

.modal-transact {
    background: rgba(98, 17, 91, 0.9);
    overflow-y: auto;
    z-index: 2050;
    display: block;
}

.other-area {
    background: rgba(245, 238, 229, 0.8);
}

.view-animation {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.view-animation.ng-enter {
    -webkit-animation: fadeInDown 0.5s;
    -moz-animation: fadeInDown 0.5s;
    -ms-animation: fadeInDown 0.5s;
    animation: fadeInDown 0.5s;
}

.view-animation.ng-leave {
    -webkit-animation: bounceOut 0.5s;
    -moz-animation: bounceOut 0.5s;
    -ms-animation: bounceOut 0.5s;
    animation: bounceOut 0.5s;
}

.view-animation-modal {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.view-animation-modal > div {
    z-index: 10000;
}

.view-animation-modal.ng-enter {
    -webkit-animation: bounceIn 0.5s;
    -moz-animation: bounceIn 0.5s;
    -ms-animation: bounceIn 0.5s;
    animation: bounceIn 0.5s;
}

.view-animation-modal.ng-leave {
    -webkit-animation: fadeOutUp 0.5s;
    -moz-animation: fadeOutUp 0.5s;
    -ms-animation: fadeOutUp 0.5s;
    animation: fadeOutUp 0.5s;
}


.code-qr img {
    width: 250px !important;
    height: auto !important;
}

.list-group.list-group-flush li {
    cursor: pointer;
}

.add-photo {
    background: #eee;
}

.detail-observation {
    background: rgb(238, 238, 238) !important;
    padding: 10px !important;
    color: #f44336;
    font-weight: bold;
    text-transform: uppercase;
}


.alert-icon {
    padding: 0px 15px 0px 0px;
    margin: 10px 0px 0px 0px;
}

.info-fileattach {
    background-color: #eee !important;
    color: #333;
    padding: 25px;
}

[uib-modal-window] {
    z-index: 10500 !important;
    display: block;
}

[uib-modal-backdrop] {
    z-index: 10400 !important;
}
